.wrapper {
  margin-top: 30px;
}

.title {
  display: flex;
  align-items: center;

  .button {
    margin-left: 20px;
    background-color: #f3eee8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.statuses {
  display: flex;
  margin: 20px 0;

  li {
    margin-right: 15px;
    padding: 7px 15px;
    background-color: #f3eee8;
    border-radius: 15px;
  }
}

.status {
  width: max-content;
  padding: 7px 20px;
  background-color: #f3eee8;
  border-radius: 15px;
}

table {
  border-collapse: collapse;
  border: 1px solid #e9dfd5;
  border-radius: 15px;
  border-collapse: separate;
  border-spacing: 0;
  width: calc(100vw - 500px);
  table-layout: fixed;
}

th,
td {
  padding: 8px 10px;
  text-align: start;
}

td {
  border-top: 1px solid #e9dfd5;
}

.project-column {
  width: 30%;
}

.status-column {
  width: 15%;
}

.date-column {
  width: 15%;
}

.action-column {
  width: 15%;
  color: #9c7450;
}

.progress-column {
  width: 15%;
}

.progressbar {
  position: relative;
  background-color: #f3eee8;
  padding: 7px 20px;
  border-radius: 15px;
}

tbody tr:hover {
  cursor: pointer;
}
