.login-window {
  width: 600px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e9dfd5;
  border-radius: 20px;
  background-color: white;
  margin-top: 200px;

  &__row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    button {
      width: max-content;
    }
  }
}
