.project {
  &-actions {
    margin-top: 30px;
    display: flex;
  }

  &-action {
    background-color: #e9dfd5;
    border-radius: 15px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-right: 15px;

    span {
      margin-right: 5px;
    }
  }
}

.project-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;

  img {
    border-radius: 15px;
    margin-bottom: 15px;
  }
}

.right-content {
  width: 50%;
}

.description {
  width: 50%;
  margin-top: 15px;
}

.task {
  background-color: #e9dfd5;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.tasks {
  h2 {
    margin-bottom: 5px;
  }
}

.task-status {
  display: flex;
  align-items: center;
  margin-top: 5px;

  .status {
    margin-left: 10px;
  }
}

.task-actions {
  margin-top: 15px;
  display: flex;
}

.task-action {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #d1ab85;
  padding: 5px 15px;
  margin: 0 5px;

  span {
    margin-right: 5px;
  }
}

.delete {
  background-color: #fc6c64;
  color: white;
}

.complete {
  background-color: #99f4a4;
}

.create-new {
  display: flex;
  justify-content: center;
  border: 1px solid #e9dfd5;
  background-color: #fbfaf8;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #e9dfd5;
  }
}
