.project {
  &-actions {
    margin-top: 30px;
    display: flex;
  }

  &-action {
    background-color: #e9dfd5;
    border-radius: 15px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-right: 15px;

    span {
      margin-right: 5px;
    }
  }
}

.project-container {
  display: flex;
  padding: 30px;

  img {
    border-radius: 15px;
    margin-bottom: 15px;
  }
}

// .left-content {
//   width: 100%;
// }

.general-info {
  border: 1px solid #e9dfd5;
  border-radius: 20px;
  width: min-content;
  padding: 15px;
}

.right-content {
  width: 35%;
  margin-left: 30px;
  border: 1px solid #e9dfd5;
  border-radius: 20px;
  padding: 15px;
  height: min-content;
}

.description {
  width: 100%;
  margin-top: 15px;
}

.tasks {
  h2 {
    margin-bottom: 15px;
  }
}

.task {
  border: 1px solid #e9dfd5;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  }

  &-info {
    display: flex;
    justify-content: space-between;

    span {
      margin-right: 5px;
    }
  }

  .status {
    margin-right: 10px;
  }

  &-more {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &:hover {
      background-color: #e9dfd5;
      cursor: pointer;
    }
  }
}

.create-new {
  display: flex;
  justify-content: center;
  border: 1px solid #e9dfd5;
  background-color: #fbfaf8;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #e9dfd5;
  }
}

.delete {
  background-color: #f47174;
  color: white;
}
