.project {
  &-actions {
    margin-top: 30px;
    display: flex;
  }

  // &-action {
  //   background-color: #e9dfd5;
  //   border-radius: 15px;
  //   padding: 10px 15px;
  //   display: flex;
  //   align-items: center;
  //   margin-right: 15px;

  //   span {
  //     margin-right: 5px;
  //   }
  // }

  &-container {
    display: flex;
    padding: 30px;

    img {
      border-radius: 15px;
      margin-bottom: 15px;
    }
  }
}

.modal {
  background-color: #ffffff;
  border-radius: 15px;
  width: 800px;
  height: 500px;
  padding: 17px;

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-layout {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &-content {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  &-block {
    width: 45%;

    label,
    input,
    textarea {
      margin-bottom: 5px;
    }

    textarea {
      height: 200px;
    }
  }
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.form-col {
  display: flex;
  flex-direction: column;
}

// .left-content {
//   width: 100%;
// }

.general-info {
  border: 1px solid #e9dfd5;
  border-radius: 20px;
  width: min-content;
  padding: 15px;
}

.right-content {
  width: 35%;
  margin-left: 30px;
  border: 1px solid #e9dfd5;
  border-radius: 20px;
  padding: 15px;
  height: min-content;
}

.description {
  width: 100%;
  margin-top: 15px;
}

.tasks {
  h2 {
    margin-bottom: 15px;
  }
}

.task {
  border: 1px solid #e9dfd5;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  }

  &-info {
    display: flex;
    justify-content: space-between;

    span {
      margin-right: 5px;
    }
  }

  .status {
    margin-right: 10px;
  }

  &-more {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &:hover {
      background-color: #e9dfd5;
      cursor: pointer;
    }
  }

  &-progress {
    width: 50%;
    margin: 0 10px;

    &-block {
      margin-top: 5px;
      display: flex;
    }
  }
}

.form-row {
  display: flex;
  align-items: center;
}

.create-new {
  display: flex;
  justify-content: center;
  border: 1px solid #e9dfd5;
  background-color: #fbfaf8;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #e9dfd5;
  }
}

.delete {
  background-color: #f47174;
  color: white;
}
