@import 'pages/all';
@import 'components/all';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #fbfaf8;
}

div {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: #0000ee;
  // color: #9c7450;
  cursor: pointer;
}

input {
  padding: 5px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #aaaaaa;
}

textarea {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #aaaaaa;
  resize: none;
}

button {
  padding: 5px;

  border: none;
  background-color: #e9dfd5;
  border-radius: 15px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;

  span {
    margin-right: 5px;
  }
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  position: fixed;
  top: 90px;
  right: 40px;
  z-index: 2000;
  background-color: black;
  height: 70px;
  width: 400px;
  padding: 15px;

  border-radius: 15px;
  border: 1px solid #f92f2f;
  background-color: #fec8c8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f92f2f;

  span {
    color: #fd8c8c;
    cursor: pointer;
  }

  &-content {
    display: flex;
    align-items: center;

    span {
      margin-right: 10px;
      color: #f92f2f;
      cursor: default;
    }
  }
}
